/*
  Intro
*/

.site-intro {
  color: $gray-color;
}

/*
  Posts
*/

.posts-container {
  margin-bottom: 2rem;
}

.text-divider {
  --text-divider-gap: 1rem;
  display: flex;
  align-items: center;

  &::before, &::after {
    content: '';
    height: 1px;
    background-color: silver;
    flex-grow: 1;
  }

  &::before {
    margin-right: var(--text-divider-gap);
  }

  &::after {
    margin-left: var(--text-divider-gap);
  }
}

.post-link {
  text-decoration: none;
  color: $gray-color;

  h3 {
    color: $text-color;
    margin-bottom: 0;
  }

  &:hover {
    text-decoration: none;
    color: $link-color;
  }

  .date {
    float: right;
  }
}

