@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');
* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-size: 18px;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  display: block;
  line-height: 2em;
}

header {
  position: sticky;
  top: 0;
  background: white;
}

.logo {
  font-size: 1.5em;
  text-align: center;
  line-height: 2em;
}

.logo-content::before {
  content: "NatsuCamellia";
}

@media screen and (min-width: 700px) {
  .main-wrapper {
    display: block;
    margin: 0 auto;
    max-width: 650px;
  }

  header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  header ul li {
    padding-right: 1em;
  }

  article h1 {
    text-align: center;
  }

  footer {
    grid-area: footer;
    text-align: center;
    background: white;
  }

  .footer-content::before {
    content: "NatsuCamellia © 2022 All Right Reserved.";
  }
}
