* {
  box-sizing: border-box;
}
html {
  background-image: url("image/background.jpg");
  background-attachment: fixed;
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
}

body {
  display: block;
}

header {
  position: sticky;
  top: 0;
  background: white;
}

.logo {
  font-size: 1.5em;
  text-align: center;
  line-height: 2em;
}

.logo-content::before {
  content: "NatsuCamellia";
}

@media screen and (min-width: 1000px) {
  .main-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: ". main ." "footer footer footer";
    grid-gap: 1em;
  }

  header {
    display: flex;
    justify-content: center;
  }
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header ul li {
  padding-right: 1em;
}

main {
  grid-area: main;
  padding: 1em;
  background: rgba(255, 255, 255, 0.3);
}

article h1 {
  text-align: center;
}

footer {
  grid-area: footer;
  text-align: center;
  background: white;
}

.footer-content::before {
  content: "NatsuCamellia © 2022 All Right Reserved.";
}
