/*
  Base
*/

body {
  font-family: $sans-serif-font-family;
  font-size: 1.1rem;
  color: $text-color;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

@media (max-width: $elements-responsive-width) {
  body {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  body h1 {
    font-size: 2rem;
  }
}

h1{
  font-size: 2rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif-font-family;
  color: $dark-gray-color;
}

div.container {
  overflow: hidden;
}

::selection {
  background: $selection-color;
  color: white;
}

a {
  text-decoration: none;
  color: $text-color;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

figure {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

figcaption {
  text-align: center;
  color: $light-gray-color;
}

blockquote {
  margin: 10px 20px 10px;
  padding: 0px 15px;
  border-left: 0.25em solid $accent-color;
  color: $text-color;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
}

hr {
  border-top: 1px solid $accent-color;
}

/*
  Tables
*/

table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
  text-align: left;
}

strong {
  background: linear-gradient(180deg, rgba(255,255,255,0) 75%, $strong-color 25%);
}