/*
  Posts
*/

.posts-container {
  margin-bottom: 3rem;
  padding: 0px;
  list-style: none;
}

.archive-item {
  margin-left: 2rem;
}

.post-link {
  text-decoration: none;
}

.date {
  float: right;
}

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 10px;
}

.thumbnail-container img{
  margin-top: -11.5%;
  margin-bottom: -11.5%;
}

/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: $sans-serif-font-family;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: $pagination-button-text-invalid-color;
  border: 2px solid $pagination-button-border-color;
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

.pagination-active {
  color: $pagination-button-text-color;
}

.pagination-active:hover {
  color: $pagination-button-text-color;
  background-color: $pagination-button-hover-color;
}
