/*
  Posts
*/

.posts-container {
  margin-bottom: 3rem;
  padding: 0px;
  list-style: none;
}

.posts-container a p {
  color: $text-color;
  margin: 0px;
}

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
}

.thumbnail-container img{
  margin-top: -11.5%;
  margin-bottom: -11.5%;
}

/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: $sans-serif-font-family;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: $pagination-button-text-color;
  border: 1px solid $pagination-button-border-color;
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

.pagination-active {
  color: $link-color;
}

.pagination-active:hover {
  background-color: $pagination-button-border-color;
}
