/*
  Posts
*/

.posts-container {
  margin-bottom: 2rem;
  padding: 0px;
  list-style: none;
}

.archive-item {
  margin-left: 2rem;
}

.text-divider {
  --text-divider-gap: 1rem;
  display: flex;
  align-items: center;
}

.text-divider::before, .text-divider::after {
  content: '';
  height: 1px;
  background-color: silver;
  flex-grow: 1;
}

.text-divider::before {
  margin-right: var(--text-divider-gap);
}

.text-divider::after {
  margin-left: var(--text-divider-gap);
}

.post-link {
  text-decoration: none;
  color: $light-gray-color;
}

.post-link h3 {
  color: $text-color;
  margin-bottom: 0.5rem;
}

.date {
  float: right;
}