/*
  Post
*/

.post-date {
  display: block;
  margin-bottom: 1rem;
  color: $post-date-color;
  font-family: $sans-serif-font-family;
  font-size: 1rem;
  text-align: center;
}

.read-time {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: $read-time-color;
  font-family: $sans-serif-font-family;
  font-size:0.8rem;
}

@media (max-width: $elements-responsive-width) {
  .posts h1 {
    font-size: 1.5rem;
  }
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}

article a {
  text-decoration: underline;
  color: $link-color;
  font-weight: bold;
  text-decoration-color: $link-color;
}

article a:hover {
  background-color: $main-color;
}