/*
  Post
*/

.post-date {
  display: block;
  margin-bottom: 1rem;
  color: $post-date-color;
  font-size: 0.8rem;
}

.home-link {
  float: right;
}

.home-link a {
  color: $main-color;
  text-decoration: none;
}

.home-link a:hover {
  text-decoration: underline;
}