/*
  Post
*/

.post-date {
  display: block;
  margin-bottom: 1rem;
  color: $post-date-color;
  font-family: $sans-serif-font-family;
  font-size: 0.8rem;
}

.home-link {
  float: right;
}

.home-link a {
  color: $gray-color;
  text-decoration: none;
}