---
layout: default
---

<h1>
  {{ page.title }}
</h1>

<ul class="posts-container">
  {% for post in site.posts %}
    {% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
    {% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
    {% if month != nmonth %}
      <h2>{{ post.date | date: '%B %Y' }}</h2>
    {% endif %}
    <li itemscope>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
      {% include read-time.html %}
    </li>
  {% endfor %}
</ul>
