---
layout: default
---

<h1>
  {{ page.title }}
</h1>

<ul class="posts-container">
  {% for category in site.categories %}
    <hr>
    <h2>{{ category | first }}</h2>
    {% for posts in category %}
      {% for post in posts %}
        {% if post.url %}
          <li itemscope>
            <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
            <p class="post-date"><span><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%B %-d, %a" }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span></p>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
</ul>
