---
layout: post
---

{% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div class="text-divider"><h2>{{ category_name }}</h2></div>
    {% for post in site.categories[category_name] %}
    <div class="posts-container"> 
      <a href="{{ site.github.url }}{{ post.url }}" class="post-link">
        <aside class="date">{{ post.date | date: "%b %d" }}</aside>
        <h3>{{ post.title }}</h3>
        Here are some description of the post.
      </a>
    </div>
    {% endfor %}
{% endfor %}
