---
layout: default
---

{% for post in paginator.posts %}
  <div class="posts-container">
    <a href="{{ site.github.url }}{{ post.url }}">
      <h2>{{ post.title }}</h2>
      <p>
        {{ post.content | strip_html | truncate: 100 }}
      </p>
    </a>
    {% include read-time.html %}
  </div>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
</div>
