---
layout: default
---

<h1>NatsuCamellia</h1>

<div class="site-intro">
  <p>
    你好，歡迎來到我的 Blog。我是夏玉茗，一名正在念資訊工程的大學生，閒暇的時間我喜歡閱讀、寫作、研究軟體，也喜歡嘗試新的事物。
    我會在這裡分享我在學習、生活中的點滴，也會分享一些技術文章。
  </p>
</div>

{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture next_year %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != next_year %}
    <div class="text-divider">{{ post.date | date: '%Y' }}</div>
  {% endif %}
  <div class="posts-container"> 
    <a href="{{ site.github.url }}{{ post.url }}" class="post-link">
      <aside class="date">{{ post.date | date: "%b %d" }}</aside>
      <h2>{{ post.title }}</h2>
      <p>
        Here are some description of the post.
      </p>
    </a>
  </div>
{% endfor %}
