@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-size: 18px;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  display: block;
  line-height: 2em;
}

@media screen and (min-width: 700px) {
  .main-wrapper {
    display: block;
    margin: 0 auto;
    max-width: 650px;
  }
}
a:hover {
  text-decoration: underline;
}

a, a:visited {
  color: #088ef2;
  text-decoration: none;
}

::selection {
  color: white;
  background-color: coral;
}
